.about-page {
  margin-top: -80px;
}
  .mainHeading h1 {
    display: flex;
    font-family: "Racing Sans One", sans-serif;
    font-size: 120px;
    color: black;
    margin-bottom: -50px;
    margin-left: 200px;
  }
  
  .about-card {
    transform: skew(10deg);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 18%;
  }
  
  .about-p {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 40px;
  }

p {
    font-family: "PT Sans", sans-serif;
    transform: skew(-10deg);
}