.contact h1{
    color: black;
    font-family: "Racing Sans One", sans-serif;
    font-size: 80px;
    margin-bottom: -35px;
    margin-left: 200px;
}

.contact-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    margin-left: 10%;
    margin-right:10%;
    transform: skew(10deg);
    padding: 20px;
}

.contact-card h2 {
    transform: skew(-10deg);
    font-size: 40px;
    font-family: "Racing Sans One", sans-serif;
}

.contact-card a {
    transform: skew(-10deg);
    font-size: 30px;
    text-decoration: none;

}

.contact-card a::after {
    text-decoration: none;
}