nav {
    background-color: transparent;
    box-shadow: none;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-shadow: 1px 1px 4px black;
    padding-right: .5%;
    margin-bottom: .5%;
}

.home-btn {
    font-optical-sizing: auto;
    font-weight: 400;
    text-transform: capitalize;
    text-wrap: nowrap;
    margin-left: 1%;
    text-shadow: 1px 1px 4px black;
    transition: transform .2s ease-in-out;
    transition: text-shadow .5s;
}

.home-btn:hover {
    text-shadow: 1px 1px 4px white;
}

.brand-logo {
    font-family: "Bodoni Moda", serif;
}

nav img {
    max-width: 15%;
}

.sidenav {
    background: #EBEBEB
}

.sidenav li a {
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-shadow: none;
}

.sidenav-card {
    text-align: center;
    border-bottom: 1px solid white;
    background: linear-gradient(-45deg, #5473D1, #191970);
    box-shadow: 1px 1px 5px 1px black;
}

.sidenav-pfp {
    background-color: white;
    padding: 1%;
    max-width: 50%;
    border-radius: 50%;
    margin-top: 5%;
    box-shadow: 1px 1px 4px 1px white;
}

.sidenav-title {
    display: flex;
    justify-content: space-between;

}

.sidenav-title a:hover {
    background-color: transparent;
}

.sidenav-logo {
    text-align: start;
    font-size: 16px;
}

.sidenav-links {
    display: flex;
    text-align: end;
}

.sidenav-close a:hover {
    background-color: transparent;
}

.portfolio-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 18px;
    transition: transform .2s;
}

.portfolio-link:hover {
    transform: scale(1.1);
}


.portfolio-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.portfolio-link:hover:after {
    width: 100%;
    left: 0;

}

.menu-icon {
    margin-top: 35%;
    padding: 1%;
}

.nav-icon {
    margin-right: 5px;
    margin-top: -4px;
    vertical-align: middle;
}

.nav-link {
    padding-left: 1%;
    padding-right: 1%;
    margin-top: -2%;
    transition: transform .2s;
}

.nav-link:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.icon-link:hover {
    background-color: transparent;

}

.git-icon {
    border-radius: 80%;
}

.linked-icon {
    border-radius: 10%;
}

.git-icon,
.linked-icon {
    vertical-align: middle;
    transition: box-shadow .2s;
}

.git-icon:hover {
    box-shadow: 0px 0px 5px 5px white;
}

.linked-icon:hover {
    box-shadow: 0px 0px 5px 5px white;
}

@media only screen and (max-width: 600px) {
    .brand-logo {
        margin: 0%;
        margin-top: -2%;
    }
}