header {
    background-color: #0524C1;
    color: white;
    font-size: 80px;
    font-family: "Racing Sans One", sans-serif;
    display: flex;
    border-bottom-right-radius: 100px;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: none;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: white;
    text-decoration: none;
}