.home {
    margin-top: 50px;
}

@media screen and (max-width: 1000px) {
    .home {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: 400px;
    }
  }

.home-heading {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -65px;
    color: black;
    font-family: "Racing Sans One", sans-serif;
    font-size: 30px;
}

.home-cards {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.home-cards p {
    font-size: 20px;
}

.home-about {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    transform: skew(10deg);
    padding: 40px;
}

.home-portfolio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    transform: skew(10deg);
    padding: 40px;
}

.home-resume {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    transform: skew(10deg);
    padding: 40px;
}

.home-contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    transform: skew(10deg);
    padding: 40px;
}

.home-cards a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Racing Sans One", sans-serif;
    padding: 10px;
}

.home-cards a:hover {
    color: black;
      background-color: #FF0022;
      -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
      clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
      animation: panbg .5s linear infinite;
      -webkit-animation: panbg .5s linear infinite;
      opacity: 1;
      -webkit-transition: ALL .2s;
      transition: all .2s;
  }
  
  @keyframes panbg{
      0%{
          -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
      }
      50%{
          -webkit-clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
          clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
      }
      100%{
          -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
      }
  }
  @-webkit-keyframes panbg{
      0%{
          -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
      }
      50%{
          -webkit-clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
          clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
      }
      100%{
          -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
      }
  }