.home-wrapper{
    display: block;
    margin:2%;
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.home-card {
    display: flex;
    /* background-color: red; */
    max-width: 46%;
    margin: 1%;
    margin-right: 3%;
}

.home-content {
    display: flex;
    flex-direction: column;
}

.home-card img {
    max-width: 80%;
    
}

.home-img-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 22px;
    text-align: end;
}

.quote-author {
    color: white;
    font-style: normal;
    font-size: 20px;
    align-self: end;
    margin-top: -4%;
    
}

.home-img-card img {
    max-width: 60%;
    border-radius: 50%;
    align-self: end;
}

.home-signature-card {
    color: white;

}
