nav {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Racing Sans One", sans-serif;
    padding-left: 50px;
    background-color: #0524C1;
    border-bottom-left-radius: 100px;
}

.navLinks a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    margin-right:50px;
}

.navLinks a:visited {
    color: white;
}

.navLinks a:hover {
    display: flex;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 75px solid red;
    border-bottom: 25px solid transparent;
}