.portfolio {
    display: flex;
    color: black;
    font-family: "Racing Sans One", sans-serif;
    font-size: 60px;
    margin-left: 200px;
    margin-bottom: -135px;
    margin-top: -100px;
}

.project-cards {
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    
}

.project-card img {
    max-width: 50%;
}

.card-display {
    background-color: black;
    padding: 20px;
    text-align: center;
}

a {
    color: white;
}

.project-repo {
    margin-top: -20px;
    font-family: "Racing Sans One", sans-serif;
    background-color: gray;
    padding: 20px;

}

.repo-link {
    padding: 20px;
    text-decoration: none;
}

.repo-link:hover {
        color: black;
          background-color: #FF0022;
          -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          animation: panbg .5s linear infinite;
          -webkit-animation: panbg .5s linear infinite;
          opacity: 1;
          -webkit-transition: ALL .2s;
          transition: all .2s;
      }
      
      @keyframes panbg{
          0%{
              -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
              clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          }
          50%{
              -webkit-clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
              clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
          }
          100%{
              -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
              clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          }
      }
      @-webkit-keyframes panbg{
          0%{
              -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
              clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          }
          50%{
              -webkit-clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
              clip-path: polygon(5% 5%, 93% 15%, 82% 87%, 2% 76%);
          }
          100%{
              -webkit-clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
              clip-path: polygon(10% 10%, 89% 6%, 94% 91%, 10% 90%);
          }
}