.portfolio-page {
    text-align: center;
    color: #EDEAE0;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-shadow: 1px 1px 4px black;
}

.project-display {
    margin: 2%;
}

.project-row {
    width: 30%;
    float: left;
    margin-left: 2.5%;
}

.project-card {
    background: linear-gradient(#021627, #021627) padding-box, linear-gradient(45deg, #d4af37 5%, #debc5b 10%, #e7c97c 30%, #efd69d 50%, #e7c97c 70%, #debc5b 80%, #d4af37 95%) border-box;
    border-radius: 5%;
    border: 4px solid transparent;
    padding: 6%;
    color: #EDEAE0;
    transition: transform .2s;
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300% 300%;
    font-family: "Libre Bodoni", serif;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.project-picture {
    padding: 1%;
    background: linear-gradient(#021627, #021627) padding-box, linear-gradient(45deg, #d4af37 5%, #debc5b 10%, #e7c97c 30%, #efd69d 50%, #e7c97c 70%, #debc5b 80%, #d4af37 95%) border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-top: -2%;
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300% 300%;
}

.project-card:hover {
    box-shadow: 1px 1px 5px 5px white;
    transform: scale(1.1);
}

.project-card p {
    font-size: 18px;
}

.header {
    margin-top: -1%;
    font-size: 40px;
}

.card-content{
    margin-top: -5%;
}

.project-tool{
    border: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    margin: 0;
    
}

.project-link {
    font-family: "Bodoni Moda", serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    background: linear-gradient(45deg, #d4af37 5%, #debc5b 10%, #e7c97c 30%, #efd69d 50%, #e7c97c 70%, #debc5b 80%, #d4af37 95%);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300% 300%;
}

.project-link:hover {
    transform: translateY(-2px);
    color: white;

}

@media only screen and (max-width: 900px) {
    .project-row {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        float: none;
        margin: 0%;
        margin-left: 12%
    }
}

@media only screen and (max-width: 600px) {
    .project-row {
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
        float: none;
        margin: 0%;
    }

    .project-card {
        padding: 10px;
    }

   .header {
    padding:15px;
   }

    .project-card:hover {
        box-shadow: none;
        transform: scale(.9);
    }

    .project-link:hover {
        transform: scale(.9);

    }

    .project-tool {
        max-width: 10%;
       
    }
}