.resume {
    font-family: "Racing Sans One", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -70px;
}

.resume h1{
    color: black;
    font-size: 120px;
    margin-bottom: -50px;
    margin-left: 12%;
}

.language-icons {
    background-color: #373737;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    transform: skew(10deg);
}

.language-icons img {
    max-width: 8%;
    transform: skew(-10deg);
    
}