.aboutPage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mainHeading h1 {
  display: flex;
  font-family: "Racing Sans One", sans-serif;
  position: absolute;
  transform: rotate(90deg);
  font-size: 300px;
  margin-left: -360px;
  top: 250px;
  color: black;
}

.aboutP {
  display: flex;
  align-items: end;
  font-size: 30px;
  margin-right: 75px;
  margin-left: 300px;
  margin-top: 30px;
}