:root {
    font-family: "Trirong", serif;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(4deg, #191970, #ffb7c5);
    background-size: 400% 400%;

    -webkit-animation: bgGradient 30s ease infinite;
    -moz-animation: bgGradient 30s ease infinite;
    animation: bgGradient 30s ease infinite;
}

@-webkit-keyframes bgGradient {
    0% {
        background-position: 53% 0%
    }

    50% {
        background-position: 48% 100%
    }

    100% {
        background-position: 53% 0%
    }
}

@-moz-keyframes bgGradient {
    0% {
        background-position: 53% 0%
    }

    50% {
        background-position: 48% 100%
    }

    100% {
        background-position: 53% 0%
    }
}

@keyframes bgGradient {
    0% {
        background-position: 53% 0%
    }

    50% {
        background-position: 48% 100%
    }

    100% {
        background-position: 53% 0%
    }
}